@model IEnumerable<FamilyPhotosWithIdentity.Models.RoleViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tbl_roles">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@*DataTables betöltése: https://datatables.net/*@

@section styles {
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/media/css/dataTables.bootstrap.css" />
}

@section scripts {
    <script src="~/lib/datatables/media/js/jquery.dataTables.js" ></script>
    <script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbl_roles").DataTable();
        });
    </script>

}