@model FamilyPhotos.ViewModel.PhotoViewModel

<h2>Új kép létrehozása</h2>

@using (Html.BeginForm("Create", "Photo", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.EditorForModel()
<div>
    <input type="submit" value="Létrehozás" />
</div>
}

@section style {
    <style type="text/css">
        body {
            background-color: coral;
        }
    </style>
}
