<!DOCTYPE html>
<html>
<head>
    <title>A családi fotóalbum (Layout)</title>
    <style type="text/css">
        body {
            background-color: lightgrey;
        }
    </style>
    @RenderSection("style", required: false) 
</head>
<body>
    @RenderBody()
</body>
</html>