<!DOCTYPE html>
<html>
<head>
    <title>A családi fotóalbum 3</title>
    <style type="text/css">
        body {
            background-color: coral;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>