<!DOCTYPE html>
<html>
<head>
    <title>A családi fotóalbum (Layout)</title>
    @*(4) A stílusdefiníciót kihelyezhetjük egy külön állományba*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    @*(3) Stílusokat hozunk létre, és elnevezzük őket, majd ha szükség van rájuk, behivatkozzuk*@
    @*(3.a) elnevezzük ezt a stílust coral-nak*@
        @*<style type="text/css">
                .coral {
                    background-color: coral;
                }

                .coral .kiveteles {
                    background-color: red;
                }

                .corel .kiveteles .kiveteles2 {
                    background-color: white;
                }

        </style>*@

    @*(2) különválasztva a formázást és a megjelenítést, egy-egy html elemnek megmondhatjuk a kinézetét*@
    @*<style type="text/css">
        body {
            background-color: coral;
        }
    </style>*@
</head>

@*(1) Mindegyik html tag-nek tudunk formázási parancsot adni a style property-jén keresztül. Pl.:*@
@*<body style="background-color: coral;">*@
@*(3.b) meghivatkozzuk a corel nevű stílust*@
    <body class="coral kiveteles">
        @RenderBody()
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        @RenderSection("script", false)
    </body>
</html>